resources:
  - externalsecret.yaml
  - deployment.yaml

images:
  - name: govee2mqtt
    newName: ghcr.io/wez/govee2mqtt
    digest: sha256:3f2ec1af3f46450bf0b6ae2855d6ead7b38126a7445e73322a81ddae77d2f5bc

labels:
  - includeTemplates: true
    pairs:
      app.kubernetes.io/name: govee2mqtt
  - includeSelectors: true
    pairs:
      app: govee2mqtt
      app.kubernetes.io/component: mqtt_gateway

generatorOptions:
  annotations:
    argocd.argoproj.io/sync-options: Prune=true

configMapGenerator:
  - envs:
      - gv2mqtt.env
    name: gv2mqtt-env
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
