resources:
  - pvc.yaml
  - deployment.yaml
  - service.yaml
  - route.yaml

images:
  - name: music-assistant
    newName: ghcr.io/music-assistant/server
    newTag: 2.6.3
    digest: sha256:0986d48f962c948d9023e7e1d5c8069ce4e312d90aa31fdfa6fb7656e969b132
labels:
  - includeTemplates: true
    pairs:
      app.kubernetes.io/name: mass
  - includeSelectors: true
    pairs:
      app: music-assistant
      app.kubernetes.io/component: music-assistant

generatorOptions:
  annotations:
    argocd.argoproj.io/sync-options: Prune=true
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
