global
  log stdout format raw daemon debug

defaults http
  timeout connect 5s
  timeout client 1m
  timeout server 1m
  mode http

frontend prometheus from http
  bind :8405
  monitor-uri /healthz
  monitor fail if { nbsrv(synology-nexus-ui) eq 0 }
  monitor fail if { nbsrv(synology-nexus-docker) eq 0 }
  http-request use-service prometheus-exporter if { path /metrics }
  no log

defaults nexus from http
    log stdout format raw daemon
    option httplog

frontend nexus_ui
  bind :8081
  default_backend synology-nexus-ui

frontend nexus-docker
  bind :8082-8086
  default_backend synology-nexus-docker

resolvers router
    accepted_payload_size 4096
    nameserver router_udp 192.168.255.1:53
    nameserver router_tcp tcp@192.168.255.1:53

backend synology-nexus-ui
  server-template synology-8081- 3 HomeLabSAN.homelab.csfreak.com.:8081 resolvers router check 

backend synology-nexus-docker
  http-request return if { path /v2 }
  http-request return if { path /v2/ }
  server-template storage-docker- 3 HomeLabSAN.homelab.csfreak.com resolvers router check port 8082 observe layer4 error-limit 4 on-error mark-down
