defaults http
    mode http
    timeout connect 5s
    timeout client 1m
    timeout server 1m
    log stdout format raw daemon
    option httplog

resolvers default
    nameserver router_udp 192.168.255.1:53
    nameserver router_tcp tcp@192.168.255.1:53

defaults docker_frontend from http
  http-request return if { path /v2 }
  http-request return if { path /v2/ }

defaults docker_backend from http
    default-server resolvers default check 


frontend nexus-ui from docker_frontend
  bind :8081
  default_backend synology-nexus-ui

frontend nexus-docker-proxy from docker_frontend
  bind :8082
  default_backend synology-nexus-docker-proxy

frontend nexus-homelab-repo from docker_frontend
  bind :8083
  default_backend synology-nexus-homelab-repo

frontend nexus-redhat-proxy from docker_frontend
  bind :8084
  default_backend synology-nexus-redhat-proxy

frontend nexus-quay-proxy from docker_frontend
  bind :8085
  default_backend synology-nexus-quay-proxy

frontend nexus-ghcr-proxy from docker_frontend
  bind :8086
  default_backend synology-nexus-ghcr-proxy

frontend prometheus from http
  bind :8405
  monitor-uri /healthz
  monitor fail if { nbsrv(synology-nexus-ui) eq 0 }
  monitor fail if { nbsrv(synology-nexus-docker-proxy) eq 0 }
  monitor fail if { nbsrv(synology-nexus-homelab-repo) eq 0 }
  monitor fail if { nbsrv(synology-nexus-redhat-proxy) eq 0 }
  monitor fail if { nbsrv(synology-nexus-quay-proxy) eq 0 }
  monitor fail if { nbsrv(synology-nexus-ghcr-proxy) eq 0 }
  http-request use-service prometheus-exporter if { path /metrics }
  no log

backend synology-nexus-ui from docker_backend
  server-template synology-8081- 3 _storage_lb_endpoint.srv:8081

backend synology-nexus-docker-proxy from docker_backend
  server-template storage-8082- 3 _storage_lb_endpoint.srv:8082

backend synology-nexus-homelab-repo from docker_backend
  server-template storage-8083- 3 _storage_lb_endpoint.srv:8083

backend synology-nexus-redhat-proxy from docker_backend
  server-template storage-8084- 3 _storage_lb_endpoint.srv:8084

backend synology-nexus-quay-proxy from docker_backend
  server-template storage-8085- 3 _storage_lb_endpoint.srv:8085

backend synology-nexus-ghcr-proxy from docker_backend
  server-template storage-8086- 3 _storage_lb_endpoint.srv:8086
