defaults 
    timeout connect 5s
    timeout client 1m
    timeout server 1m
    log stdout format raw daemon
    option httplog

frontend nexus-ui
  mode http
  bind :8081
  default_backend synology-nexus-ui

frontend nexus-docker-proxy
  mode http
  bind :8082
  default_backend synology-nexus-docker-proxy

frontend nexus-homelab-repo
  mode http
  bind :8083
  default_backend synology-nexus-homelab-repo

frontend nexus-redhat-proxy
  mode http
  bind :8084
  default_backend synology-nexus-redhat-proxy

frontend nexus-quay-proxy
  mode http
  bind :8085
  default_backend synology-nexus-quay-proxy

frontend nexus-ghcr-proxy
  mode http
  bind :8086
  default_backend synology-nexus-ghcr-proxy

frontend prometheus
  bind :8405
  mode http
  monitor-uri /healthz
  monitor fail if { nbsrv(synology-nexus-ui) eq 0 }
  monitor fail if { nbsrv(synology-nexus-docker-proxy) eq 0 }
  monitor fail if { nbsrv(synology-nexus-homelab-repo) eq 0 }
  monitor fail if { nbsrv(synology-nexus-redhat-proxy) eq 0 }
  monitor fail if { nbsrv(synology-nexus-quay-proxy) eq 0 }
  monitor fail if { nbsrv(synology-nexus-ghcr-proxy) eq 0 }
  http-request use-service prometheus-exporter if { path /metrics }
  no log

backend synology-nexus-ui
  mode http
  server-template synology-8081- 3 storage.homelab.csfreak.com:8081 check 

backend synology-nexus-docker-proxy
  mode http
  server-template storage-8082- 3 storage.homelab.csfreak.com:8082 check

backend synology-nexus-homelab-repo
  mode http
  server-template storage-8083- 3 storage.homelab.csfreak.com:8083 check 

backend synology-nexus-redhat-proxy
  mode http
  server-template storage-8084- 3 storage.homelab.csfreak.com:8084 check 

backend synology-nexus-quay-proxy
  mode http
  server-template storage-8085- 3 storage.homelab.csfreak.com:8085 check 

backend synology-nexus-ghcr-proxy
  mode http
  server-template storage-8086- 3 storage.homelab.csfreak.com:8086 check 
