resources:
  - pvc.yaml
  - deployment.yaml
  - service.yaml
  - route.yaml

images:
  - name: appdaemon
    newName: acockburn/appdaemon
    newTag: 4.5.12
    digest: sha256:8f2babc1e73d78bef2d7f5f7198527c5b18eb9fe8cc277698741bae87f348f4f

labels:
  - includeTemplates: true
    pairs:
      app.kubernetes.io/name: appdaemon
  - includeSelectors: true
    pairs:
      app: appdaemon
      app.kubernetes.io/part-of: homeassistant

generatorOptions:
  annotations:
    argocd.argoproj.io/sync-options: Prune=true

apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
